doctype html
html(lang="ko")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Find Card's Friend

        // font
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet")

        // XEicon
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css")

        // favicon
        link(rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png")
        link(rel="manifest" href="../../site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        // stylesheet
        link(rel="stylesheet" type="text/css" href="../css/cardMatch.css")
    body
        .wrapBox
            .flyingBatObj
            .hangingBatObj.hangingBatObj1
            .hangingBatObj.hangingBatObj2
            section.gameStartBox
                article.gameRulesBox
                    h1 GAME RULES
                    div  
                        p 1. 게임이 시작되면 10초 동안 모든 카드를 보여줍니다
                        p 2. 10초가 지나면 모든 카드가 가려집니다
                        p 3. 한차례에 카드 두 장을 뒤집어볼 수 있습니다
                        p 4. 카드의 짝이 맞으면 카드는 사라지고 점수가 올라갑니다
                        p 5. 카드의 짝이 맞지 않으면 시간이 5초 줄어들고 카드는 다시 가려집니다
                        p 6. 제한 시간 내에 모든 카드의 짝을 찾으면 다음 레벨로 넘어갑니다
                        p 7. 제한 시간 내에 모든 카드의 짝을 찾지 못하면 게임이 종료됩니다
                button#gameStartBtn START
            section.gameEndBox
                //- .gameOverPara YOU DIED
                .gameWinPara YOU WIN!
                button#gameRestartBtn HOME
            section.gameDisplayBox
                article.gameTitleBox
                    h1 Find Card's Friend
                article.gamePlayBox
                    section#cardElementsBox.cardElementsBox
                        //- 카드
                    section.showCurrentStateGameBox
                        article.showCurrentLevelBox.stateBox
                            p 레벨
                            #currentLevel.currentLevel 1
                        article.showCurrentRemainCardBox.stateBox
                            p 남은 카드
                            #currentRemainCard.currentRemainCard 8
                        article.showCurrentScoreBox.stateBox
                            p 점수
                            #currentScore.currentScore 0
                        article.showCurrentRemainTimeBox.stateBox
                            p 남은 시간
                            #currentRemainTime.currentRemainTime 05:00
        // script
        script(type="text/javascript" src="../script/cardMatch2.js")